*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
/* golbalcss */
.obj-width{
 max-width:1200px;
margin: auto;
}
nav{
    box-shadow:0 5px 19px  rgb(189, 187, 187);
}
.navbar{
    background-color: rgba(104, 116, 121, 0.756);
    width:100%;
    height: 4rem;
    align-items: center;
    padding: 1.3rem;
}
.searchbox{
    padding: 10px;
    border-radius: 5px;
    border-style: none;
}
.button{
    border-style: none;
    background-color: rgba(198, 208, 212, 0.855);
    color: white;
    border-radius: 5px;
    padding: 7px;
    margin-left: 10px;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-left: 10px;
}
.blogcard{
    width:280px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 1rem;
}
.blogcard img{
    width: 100%;
}
.blogcard h1{
    font-size: 1.5rem;
}
.blogcard p{
    font-size: small;
}
.blogContainer{
    margin-top: 50px;

}